
# VIDEO OUT

NET "TMDS<3>" LOC = "B6" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L8P,		  Sch name = TMDS-TX-CLK_P
NET "TMDSB<3>" LOC = "A6" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L8N_VREF,	  Sch name = TMDS-TX-CLK_N
NET "TMDS<0>"  LOC = "D8" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L11P,		  Sch name = TMDS-TX-0_P
NET "TMDSB<0>"  LOC = "C8" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L11N,		  Sch name = TMDS-TX-0_N
NET "TMDS<1>"  LOC = "C7" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L10P,		  Sch name = TMDS-TX-1_P
NET "TMDSB<1>"  LOC = "A7" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L10N,		  Sch name = TMDS-TX-1_N
NET "TMDS<2>"  LOC = "B8" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L33P,		  Sch name = TMDS-TX-2_P
NET "TMDSB<2>"  LOC = "A8" | IOSTANDARD = TMDS_33 ; # Bank = 0, Pin name = IO_L33N,		  Sch name = TMDS-TX-2_N
